.accueil-photos {
    background-color: white;
    padding: 80px;

}

.accueil-photos h2 {
    color: #242424;
    text-align: center;
    margin-bottom: 40px;
}



.grid-pic-accueil {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 15px;

}

.grid-pic-accueil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* n'arrive pas à centrer le bouton de lien vers portfolio */
.accueil-photos a {
    display: inline-block;
    margin: auto;
}



.accueil-introduction {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    align-items: center;
    margin: auto;
}

.formulaire h2 {
    color: #a5b4fc;
    text-align: center;
    margin-bottom: 50px;
}

form {
    color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: #f9f8ff;
    max-width: 1000px;
}

.form-nom-email {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
}

input,
textarea {
    padding: 15px;
    border: none;
    border-radius: 3px;
}

input[type='submit'] {
    width: 253px;
    height: 62px;
    margin: auto;
    margin-top: 30px;
}

textarea {
    width: 525px;
    height: 207px;
}

@media screen and (max-width: 996px) {
    .accueil-introduction {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .accueil-introduction div {
        padding-right: 0;
        text-align: center;
        order: 2;
    }

    .accueil-introduction img {
        order: 1;
        margin-bottom: 20px;
        width: 25%;
    }

    .accueil-photos {
        padding: 20px;
    }

    /* bug sur ce qui suit, afin de positionner les photos en colonne */
    .accueil-photos div {
        flex-direction: column;
    }

    .formulaire {
        padding: 50px 20px;
    }

    .form-nom-email {
        flex-direction: column;
        gap: 0;
    }
}