table {
    border-collapse: collapse;
    margin: 80px;
    text-align: center;
    display: none;
}

td,
th {
    border: 1px solid #a5b4fc;
    padding: 15px;
}

caption {
    margin-bottom: 40px;
}

td {
    padding: 40px;
}